# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv

# Model files
*.onnx
*.mlmodel
*.h5
*.pb

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
